:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e1b29;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #13324d;
  opacity: 1;
  background-image:  radial-gradient(#ecedff14 0.75px, transparent 0.75px), radial-gradient(#ecedff00 0.75px, #0e283fb0 0.75px);
  background-size: 30px 30px;
  background-position: 0 0,15px 15px;
  margin: 0;
  height: 100vh;
}